body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hight{
  background-color: red;
}

.middle{
  background-color: yellow;
}

.low{
  background-color: green;
}

.taskContainer{
  padding: 5px;
  margin: 5px 0;
  position: relative;
}

.closeTask{
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
  min-width: 20px;
  text-align: center;
  cursor: pointer;
  background-color: black;
  color: white;
}
